[build-system]
requires = ['flit', 'future-fstrings', 'get_version']
build-backend = 'flit.buildapi'

[tool.flit.metadata]
module = 'anndata2ri'
author = 'Philipp A.'
author-email = 'flying-sheep@web.de'
home-page = 'https://github.com/flying-sheep/anndata2ri'
description-file = 'README.rst'
classifiers = [
    'License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)',
    'Development Status :: 4 - Beta',
    'Intended Audience :: Developers',
    'Intended Audience :: Science/Research',
    'Programming Language :: Python :: 3',
    'Programming Language :: R',
    'Topic :: Scientific/Engineering :: Bio-Informatics',
]
requires-python = '>= 3.6'
requires = [
    'get_version',
    'rpy2 >= 3.0.1',
    'tzlocal',  # for pandas2ri
    'anndata',
]

[tool.flit.metadata.requires-extra]
test = [
    'pytest',
    'pytest-faulthandler',
    'pygments',
    'scanpy',
]

[tool.black]
line-length = 120
