[build-system]
requires = ['flit>=3.2,<4', 'get_version']
build-backend = 'flit_core.buildapi'

[project]
name = 'anndata2ri'
authors = [
    {name = 'Philipp A.', email = 'flying-sheep@web.de'},
]
readme = 'README.rst'
classifiers = [
    'License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)',
    'Development Status :: 4 - Beta',
    'Intended Audience :: Developers',
    'Intended Audience :: Science/Research',
    'Programming Language :: Python :: 3',
    'Programming Language :: R',
    'Topic :: Scientific/Engineering :: Bio-Informatics',
]
requires-python = '>= 3.6'
dependencies = [
    'get_version',
    'rpy2 >= 3.4',
    'tzlocal',  # for pandas2ri
    'anndata',
]
dynamic = ["version", "description"]

[project.optional-dependencies]
test = [
    'pytest',
    'pytest-faulthandler',
    'pygments',
    'scanpy',
]
doc = [
    'sphinx>=3.0',
    'sphinx-autodoc-typehints',
    'scanpydoc',
    'sphinx-rtd-theme>=0.5',  # Already a dep but 0.5 is prettier
    'lxml',  # For scraping the R link info
]

[tool.flit.metadata.urls]
'Documentation' = 'https://icb-anndata2ri.readthedocs-hosted.com/'
'Source Code' = 'https://github.com/theislab/anndata2ri'
'Issue Tracker' = 'https://github.com/theislab/anndata2ri/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc'

[project.urls]
Source = 'https://github.com/flying-sheep/anndata2ri'
Documentation = 'https://icb-anndata2ri.readthedocs-hosted.com/en/latest/'

[tool.black]
line-length = 120
