[project]
name = 'anndata2ri'
authors = [
    { name = 'Philipp A.', email = 'flying-sheep@web.de' },
]
readme = 'README.rst'
classifiers = [
    'License :: OSI Approved :: GNU General Public License v3 or later (GPLv3+)',
    'Development Status :: 4 - Beta',
    'Intended Audience :: Developers',
    'Intended Audience :: Science/Research',
    'Programming Language :: Python :: 3',
    'Programming Language :: R',
    'Topic :: Scientific/Engineering :: Bio-Informatics',
]
urls.'Documentation' = 'https://icb-anndata2ri.readthedocs-hosted.com/'
urls.'Source Code' = 'https://github.com/theislab/anndata2ri'
urls.'Issue Tracker' = 'https://github.com/theislab/anndata2ri/issues?q=is%3Aissue+is%3Aopen+sort%3Aupdated-desc'
dynamic = ['version']
requires-python = '>= 3.8'
dependencies = [
    'rpy2 >= 3.4.3',
    'tzlocal',  # for pandas2ri
    'anndata',
]

[project.optional-dependencies]
dev = ['pre-commit', 'setuptools-scm']
test = [
    'pytest',
    'pytest-faulthandler',
    'pygments',
    'scanpy',
]
doc = [
    'sphinx>=3.0',
    'scanpydoc[theme,typehints]',
    'lxml',  # For scraping the R link info
    'importlib_resources; python_version < "3.9"',
]

[tool.hatch.version]
source = 'vcs'
raw-options = { local_scheme = 'no-local-version' }  # be able to publish dev version

[tool.hatch.build.hooks.vcs]
version-file = 'src/anndata2ri/_version.py'

[tool.hatch.envs.docs]
features = ['doc']
[tool.hatch.envs.docs.scripts]
build = 'sphinx-build -M html docs docs/_build'

[[tool.hatch.envs.test.matrix]]
python = ['3.8', '3.9', '3.10', '3.11']
[tool.hatch.envs.test]
features = ['test']
[tool.hatch.envs.test.scripts]
run = 'pytest -vv {args}'

[tool.pytest.ini_options]
addopts = [
    '--import-mode=importlib',
    '-panndata2ri.test_utils',
    '-Werror',
]
filterwarnings = [
    # eventlet 0.24.1 imports dns.hash: https://github.com/eventlet/eventlet/pull/563
    'ignore::DeprecationWarning:dns.hash',
    # igraph 0.7.1post6 imports SafeConfigParser: https://github.com/igraph/python-igraph/pull/203
    'ignore::DeprecationWarning:igraph.configuration',
    # ipywidgets 7.4.2 imports ABCs from collections: https://github.com/jupyter-widgets/ipywidgets/pull/2395
    'ignore::DeprecationWarning:ipywidgets.widgets.widget_selection',
    # jinja2 2.10.1 imports ABCs from collections: https://github.com/pallets/jinja/pull/867
    'ignore::DeprecationWarning:jinja2.utils',
    'ignore::DeprecationWarning:jinja2.runtime',
    # rpy2 3.0.2 imports ABCs from collections: https://bitbucket.org/rpy2/rpy2/pull-requests/74/fix-deprecationwarning/diff
    'ignore::DeprecationWarning:rpy2.rinterface_lib.sexp',
]

[tool.black]
line-length = 120
skip-string-normalization = true

[tool.ruff]
line-length = 120
select = ['ALL']
ignore = [
    'ANN101', # self type doesn’t need to be annotated
    'C408', # dict() calls are nice
    'COM812', # trailing commas handled by black
    'D203', # prefer 0 to 1 blank line before class members
    'D213', # prefer docstring summary on first line
    'FIX002', # “TODO” comments
    'PLR0913', # having many (kw)args is fine
    'S101', # asserts are fine
]
allowed-confusables = ['’', '×']
[tool.ruff.per-file-ignores]
'src/**/*.py' = ['PT']  # No Pytest checks
'docs/**/*.py' = ['INP001']  # No __init__.py in docs
'tests/**/*.py' = [
    'INP001', # No __init__.py in tests
    'D100', # test modules don’t need docstrings
    'D103', # tests don’t need docstrings
    'PD901', # “df” is a fine var name in tests
    'PLR2004', # magic numbers are fine in tests
]
[tool.ruff.isort]
known-first-party = ['anndata2ri']
lines-after-imports = 2
[tool.ruff.flake8-quotes]
inline-quotes = 'single'

[build-system]
requires = ['hatchling', 'hatch-vcs']
build-backend = 'hatchling.build'
