/* Make things like :func:`foo`\\ ``bar`` have no visible gap */
table a.reference.external + code {
    border-left: 0;
    margin-left: -6px;
    padding-left: 0;
}

/* Make sure columns don’t wrongly derive width from rst code */
table.docutils col {
    width: auto !important;
}
